<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <httpErrors existingResponse="PassThrough" />

    <!-- Needed so IIS serves your built frontend files -->
    <staticContent>
      <remove fileExtension=".mjs" />
      <mimeMap fileExtension=".mjs" mimeType="text/javascript" />
    </staticContent>

    <rewrite>
      <allowedServerVariables>
        <add name="HTTP_X_AUTH_USER" />
        <add name="HTTP_X_REMOTE_USER" />
        <add name="HTTP_X_LOGON_USER" />
        <add name="HTTP_X_AUTH_TYPE" />
        <add name="HTTP_X_ORIGINAL_HOST" />
        <add name="HTTP_X_ORIGINAL_URL" />
        <add name="HTTP_X_HTTPS" />
        <add name="HTTP_X_REMOTE_ADDR" />
      </allowedServerVariables>
      <rules>

        <!-- Send header diagnostics to the Node backend -->
        <rule name="Test Headers Proxy" stopProcessing="true">
          <match url="^testheaders/?$" />
          <serverVariables>
            <set name="HTTP_X_AUTH_USER" value="{AUTH_USER}" />
            <set name="HTTP_X_REMOTE_USER" value="{REMOTE_USER}" />
            <set name="HTTP_X_LOGON_USER" value="{LOGON_USER}" />
            <set name="HTTP_X_AUTH_TYPE" value="{AUTH_TYPE}" />
            <set name="HTTP_X_ORIGINAL_HOST" value="{HTTP_HOST}" />
            <set name="HTTP_X_ORIGINAL_URL" value="{UNENCODED_URL}" />
            <set name="HTTP_X_HTTPS" value="{HTTPS}" />
            <set name="HTTP_X_REMOTE_ADDR" value="{REMOTE_ADDR}" />
          </serverVariables>
          <action type="Rewrite" url="http://127.0.0.1:3001/testheaders" />
        </rule>

        <!-- 1) Send API requests to your Node backend -->
        <rule name="API Proxy" stopProcessing="true">
          <match url="^api/(.*)" />
          <serverVariables>
            <set name="HTTP_X_AUTH_USER" value="{AUTH_USER}" />
            <set name="HTTP_X_REMOTE_USER" value="{REMOTE_USER}" />
            <set name="HTTP_X_LOGON_USER" value="{LOGON_USER}" />
            <set name="HTTP_X_AUTH_TYPE" value="{AUTH_TYPE}" />
            <set name="HTTP_X_ORIGINAL_HOST" value="{HTTP_HOST}" />
            <set name="HTTP_X_ORIGINAL_URL" value="{UNENCODED_URL}" />
            <set name="HTTP_X_HTTPS" value="{HTTPS}" />
            <set name="HTTP_X_REMOTE_ADDR" value="{REMOTE_ADDR}" />
          </serverVariables>
          <action type="Rewrite" url="http://127.0.0.1:3001/api/{R:1}" />
        </rule>

        <!-- 2) If the request is for a real file, let IIS serve it -->
        <!-- 3) Otherwise send React's index.html -->
        <rule name="React Routes" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            <add input="{REQUEST_URI}" pattern="^/api/" negate="true" />
          </conditions>
          <action type="Rewrite" url="/index.html" />
        </rule>

      </rules>
    </rewrite>

  </system.webServer>
</configuration>
